1. Create a Series

In [2]:
import pandas as pd

In [9]:
fruits = pd.Series(['apple', 'banana', 'cherry', 'date'], index = ['a', 'b', 'c', 'd'])
print(fruits)
print(pd.Index(fruits))

a     apple
b    banana
c    cherry
d      date
dtype: object
Index(['apple', 'banana', 'cherry', 'date'], dtype='object')

2. Accessing Elements

In [12]:
fruits['b']

'banana'

3. Series Operations

In [15]:
squares = pd.Series ([1**2, 2**2, 3**2, 4**2, 5**2])
print(squares)

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [16]:
squares.add(10)

0    11
1    14
2    19
3    26
4    35
dtype: int64

1. Create a Dataframe

In [22]:
studentdata = {"Name" : ["Elizabeth", "Todd", "Sally"], 
               "Age" : [17, 16, 18], 
               "Grade" : ["A", "B", "C"]}
students = pd.DataFrame(studentdata)
students

        Name  Age Grade
0  Elizabeth   17     A
1       Todd   16     B
2      Sally   18     C

2. Accessing Data

In [23]:
students["Name"]

0    Elizabeth
1         Todd
2        Sally
Name: Name, dtype: object

3. DataFrame Operations

In [24]:
grad = [True, False, False]
students["Graduated"] = grad 
students

        Name  Age Grade  Graduated
0  Elizabeth   17     A       True
1       Todd   16     B      False
2      Sally   18     C      False

4. Maths

In [26]:
students["Age"].mean()

17.0

5. Sorting

In [29]:
students.sort_values(by="Age", ascending=False)

        Name  Age Grade  Graduated
2      Sally   18     C      False
0  Elizabeth   17     A       True
1       Todd   16     B      False

6. Tidy Data

In [35]:
s1 = {"Subject 1" : 10, "Subject 2" : 15, "Subject 3" : 18, "Subject 4" : 13}
s2 = {"Subject 1" : 2, "Subject 2" : 4, "Subject 3" : 7, "Subject 4" : 2}
s3 = {"Subject 1" : 5, "Subject 2" : 9, "Subject 3" : 12, "Subject 4" : 7}
s4 = {"Subject 1" : 3, "Subject 2" : 6, "Subject 3" : 9, "Subject 4" : 4}

dict1 = {"Happyness" : s1, 
              "Language" : s2, 
              "Energy" : s3, 
              "Memory" : s4}

cognitivehealth = pd.DataFrame(dict1)
cognitivehealth

           Happyness  Language  Energy  Memory
Subject 1         10         2       5       3
Subject 2         15         4       9       6
Subject 3         18         7      12       9
Subject 4         13         2       7       4

In [37]:
cognitivehealth.mean()

Happyness    14.00
Language      3.75
Energy        8.25
Memory        5.50
dtype: float64

In [38]:
cognitivehealth.std()

Happyness    3.366502
Language     2.362908
Energy       2.986079
Memory       2.645751
dtype: float64

In [39]:
cognitivehealth.sem("Happyness")

ValueError: No axis named Happyness for object type DataFrame